.alerta {
    padding: 15px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;
    order: -1;
    border-radius: 40px;
}

.info {
    background-color: #dfecf1;
    color: #0c5460;
    border: 1px solid;

}